@tailwind base;
@tailwind components;
@tailwind utilities;

.font-poppins {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.slide {
  color: rgb(44, 44, 229);
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 10px;
  margin-top: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slide1 {
  background-image: url("../src/assets/img/slide 1.jpg");
}
.slide2 {
  background-image: url("../src/assets/img/slide 2.jpg");
}
.slide3 {
  background-image: url("../src/assets/img/slide 3.jpg");
}
.slide4 {
  background-image: url("../src/assets/img/slide 4.jpg");
}
.slide5 {
  background-image: url("../src/assets/img/slide 5.jpg");
}
.slide6 {
  background-image: url("../src/assets/img/slide 6.jpg");
}
.slide7 {
  background-image: url("../src/assets/img/slide 7.jpg");
}
.slide8 {
  background-image: url("../src/assets/img/slide 8.jpg");
}
